.box{
    margin: 0 31%;
    float: left;
    background-color: rgba(21, 57, 78, 0.808);
    width: 800px;
    height: 500px;
    margin-top: 100px;
    padding-top: 50px;
    border-radius: 20px;
    border: 5px solid rgb(130, 173, 223);

}

.box img{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    position:relative;
    float:right;
    width: 500px;
    height: auto;
    bottom: 400px;
}

.box .text{
    margin-top: -20px;
    margin-left: 20px;
    text-align: left;
}

.tipos{
    display: inline-flex;
}

.title{
    font-size: 200%;
    margin-bottom: 50px;
}