.cards{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 7vh;
}

.card{
    position: relative;
    width: 510px;
    height: 220px;
    margin: 2em;
    background-color: rgba(88, 114, 129, 0.664);
    border: 5px solid rgb(130, 173, 223);
    gap: 3%;

}
.card:hover{
    transition: background-color 1s ease;
    background-color: rgba(54, 65, 75, 0.815);

}

.divTitle{
    position: relative;
    display: flex;
    background-color: rgb(130, 173, 223);
    height: 50px;
    width: 100%;
}

.navLink{

    text-decoration: none;
    position: absolute;
    text-align: right;
    bottom: -50px;
    right: 35px;
    padding: 10px;
    transition: .3s ease;
    z-index: 1;

}

.navLink:hover{
    text-decoration: none;
    border: 2px solid white;

}

.info{
    text-align: center;
    position: relative;
    float:right;
    margin-bottom: 0;
    margin-top: -55px;
    margin-right: 10px;
    z-index: 2;

}

.card img{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    position: absolute;
    float:left;
    width: 350px;
    height: auto;
    left: -25px;
    z-index: 1;
    bottom: 22px;

}